@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
.App {
  /* border: solid; */
  overflow: hidden;
}
.top-nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  position: fixed;
  top: 0;
  align-items: center;
  height: 70px;
  background-color: #fff;
  z-index: 25;
}
.top-nav ul li {
  padding: 0 15px;
}
.top-nav ul li.active {
  color: rgb(219, 53, 69);
}
.mobile-menu {
  display: none;
}
@media (max-width: 544px) {
  .mobile-menu {
    display: inline;
    position: fixed;
    right: 5px;
    z-index: 25;
    font-size: 25px;
    border: none;
  }
  .top-nav ul {
    padding-top: 50px;
    position: fixed;
    right: 0;
    display: block;
    /* border: solid; */
    width: 100%;
    height: 700px;
    flex-direction: column;
    bottom: 0;
    left: 0;
    z-index: 21;
    color: #fff;
    top: 0px;
    background-color: rgb(187 187 187 / 38%);
    backdrop-filter: blur(10px);
  }
  .top-nav ul li {
    padding: 5px 15px;
    font-size: 25px;
    color: rgba(0, 0, 0);
  }

  /* .hero-section .text-col {
    display: none !important;
  } */
}
button.rounded {
  padding: 5px 20px;
  border-radius: 20px !important;
}

.hero-section {
  position: relative;
  overflow: hidden;
}
.hero-section .row {
  max-width: 1000px;
  /* margin: 0 auto; */
}
.hero-section .image-col {
  padding: 0;
}
.hero-section .image-col img {
  width: 100%;
  margin: 0;
}
.hero-section .text-col {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-section .text-col .text-div {
  padding: 0 0 0 60px;
}
.hero-section .text-col h1 {
  font-size: 55px;
  line-height: 4rem;
  font-family: "Oleo Script", cursive;
}
@media (max-width: 767px) {
  .hero-section .text-col .review-div {
    margin: 20px;
  }
  .hero-section .text-col {
    margin-top: 70px;
    z-index: 11;
    width: 100%;
    padding-right: 10px;
    /* margin: 0; */
    background-color: rgba(255, 255, 255, 0.15);
    /* box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2); */
    backdrop-filter: blur(2px);
    /* border: solid red 1px; */
  }
  .hero-section .text-col .text-div {
    padding: 0 0 0 10px;
  }
  .hero-section .text-col h1 {
    font-size: 45px;
    line-height: 4rem;
    text-shadow: rgba(255, 255, 255, 0.15);
  }
  .hero-section .image-col {
    /* border: solid red 1px; */
    position: absolute;
    width: 100%;
    z-index: 10;
    left: 0;
    max-width: 500px;
  }
  .hero-section .image-col img {
    z-index: 5;
  }
}
.scroll-container {
  display: flex;
  position: relative;
}
.scroll-container .arrow {
  font-size: 40px;
  position: absolute;
  top: 200px;
  z-index: 20;
  box-shadow: 0px 2px 10px rgb(123, 123, 123);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}
.scroll-container .arrow:hover {
  color: rgb(219, 53, 69);
}
.scroll-container .arrow.right {
  right: 0;
}
.scroll-container .arrow.left {
  left: 0;
}

.scroll-div {
  display: flex;
  overflow: hidden;
  /* overflow-x: scroll; */
  justify-content: center;
  /* height: 402px; */
  padding-top: 90px;
  position: relative;
}
